<div class="movie-card">
  <div class="thumbnail" (click)="onView()">
    <img [src]="movie.thumbnail" [alt]="movie.title">
    <span class="rating-badge">
      ⭐ {{ movie.rating }}
    </span>
    @if (movie.watched) {
      <span class="status-badge">✓</span>
    }
    <span class="release-date">
      25 Nov 2026
    </span>
  </div>
  
  <div class="movie-card-body mt-2">
    <h6 class="mb-1">{{ movie.title }}</h6>

    <div class="movie-desc text-muted">
      {{ movie.description }}
    </div>
  </div>
</div>
