
<button
  class="yt-add-btn mb-3 mt-3 d-flex align-items-center gap-2"
  (click)="toggleForm()"
>
  <i class="bi" [ngClass]="showForm ? 'bi-x-lg' : 'bi-plus-lg'"></i>
  <span>{{ showForm ? 'Close' : 'Add Movie' }}</span>
</button>

@if (showForm) {
  <add-movie [movie]="movie" (addMovie)="addMovie($event)" (closeForm)="toggleForm()"></add-movie><br>
}

<div class="row g-3">
  @for (movie of movies; track movie.srno) {
    <div class="col-6 col-lg-3">
      <movie-card [movie]="movie"
          (deleteMovie)="deleteMovie($event)"
          (editMovie)="editMovie($event)"
      ></movie-card>
    </div>
  }
</div>
