
<button class="btn btn-primary mb-3 mt-3" (click)="toggleForm()">
  {{ showForm ? 'Close Form' : 'Add Movie' }}
</button>

@if (showForm) {
  <div class="border rounded col-6 mx-auto mb-3">
    <h5 class="m-0 mt-3 ms-3">Add Movie</h5>
    <add-movie [movie]="movie" (addMovie)="addMovie($event)" (closeForm)="toggleForm()"></add-movie><br>
  </div>
}

<div class="row g-3">
  @for (movie of movies; track movie.id) {
    <div class="col-6 col-lg-3">
      <movie-card [movie]="movie"
          (deleteMovie)="deleteMovie($event)"
          (editMovie)="editMovie($event)"
      ></movie-card>
    </div>
  }
</div>
